*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
      user-select: none;


}

.App{

  background-color: #6270C8;

}



.container {

  height: 93.8vh;
  width: 1100px;
  margin:0 auto ;


}

.contenedor-interno{
  height: 100%;

  background-color: rebeccapurple;
  
}

.pantalla{

  height: 40%;

}

.opciones{

  height: 60%;

}


.nivel{

  background-color: #485BCD;
  text-align: center;
  font-size: 40px;
  color: white;

}

